PORT="8080"
CLIENT_URL="http://localhost:5173"

# Auth Secrets
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY="15m"
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY="7d"
SESSION_SECRET="";

# Mongodb
MONGODB_BASE_URI="mongodb://localhost:27017"
DATABASE_NAME="mydatabase"

# Oauth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
